<h1>Hemograma completo</h1>

<%= render 'partials/escolher_voluntario_visita', :usuario => false %>

<% if !session[:voluntario].blank? && (session[:numero] && (session[:numero].to_i > 1 && session[:numero].to_i < 8)) %>
  <%= form_for @laudo, :url => execucao_salvar_hemograma_path, :html => { :multipart => true } do |f| %>
    <div class='control-group'>
      <%= render 'partials/upload', :f => f, :imagem => :imagem, :texto => 'Anexar imagem do resultado do hemograma', :texto_data => 'Data do exame' %>
      
      <%= hidden_field_tag 'laudo[visita_id]', Visita.find_by_voluntario_id_and_numero(session[:voluntario], session[:numero]).id %>
      <%= hidden_field_tag 'laudo[tipo]', Laudo::TIPO_HEMOGRAMA %>
    </div>
    
    <div class='form-actions'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Voltar', execucao_exames_path, :class => 'btn' %>
    </div>
  <% end %>
<% end %>
