<div class="breadcrumb">
  <ul class="breadcrumb">
    <li>
      <span class="glyphicon glyphicon-home"></span>
      <%= link_to 'Principal', root_path %><span class="divider"></span>
    </li>
    <li>
      <%= link_to 'Encerramento', encerramento_path %><span class="divider"></span>
    </li>
    <li class="active">Avaliação clínica de encerramento</li>
  </ul>
</div>

<h1>Avaliação clínica de encerramento</h1>

<%= render 'partials/escolher_voluntario', :usuario => true %>

<% unless session[:voluntario].blank? %>
  <ul class='unstyled horizontal-list'>
    <li><%= link_to 'Dados demográficos', encerramento_dados_demograficos_path %></li>
    <li><%= link_to 'Sinais vitais', encerramento_sinais_vitais_path %></li>
    <li><%= link_to 'Anamnese', encerramento_anamnese_path %></li>
    <li><%= link_to 'Exame físico', encerramento_exame_fisico_path %></li>
    <div class="clear"></div>
  </ul>
<% end %>

<%= link_to 'Voltar', encerramento_path, :class => 'btn btn-danger' %>


<script>
</script>