<div class="breadcrumb">
  <ul class="breadcrumb">
    <li>
      <span class="glyphicon glyphicon-home"></span>
      <%= link_to 'Principal', root_path %><span class="divider"></span>
    </li>
    <li>
      <%= link_to 'Encerramento', encerramento_path %><span class="divider"></span>
    </li>
    <li class="active">DN4 de encerramento</li>
  </ul>
</div>

<h1>DN4 de encerramento</h1>

<% @laudo.build_dados_dn4 %>

<% if @laudo.errors.any? %>
  <div class="alert alert-dismissable alert-danger">
    <strong><%= pluralize(@laudo.errors.count, "erro impediu") %> o Questionário - DN4 de ser salvo:</strong>
    <ul>
    <% @laudo.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= render 'partials/escolher_voluntario', :usuario => false %>

<% unless session[:voluntario].blank? %>
  <%= form_for @laudo, :url => encerramento_salvar_dn4_path, :html => { :multipart => true } do |f| %>
    <div class='control-group'>
      <%= f.fields_for :dados_dn4 do |d| %>
        <%= render 'partials/laudos/form_dn4', :f => d %>
      <% end %>
      
      <%= render 'partials/upload', :f => f, :imagem => :imagem, :texto => 'Anexar imagem do laudo do DN4',
        :texto_data => 'Data do questionário', :tipo => Laudo::TIPO_DN4 %>

      <%= f.label :escore, 'Escore total (máximo 10)', :class => 'control-label' %>
      <%= f.text_field :escore, {:readonly => true} %>
      
      <%= f.label :usuario_id, nil, :class => 'control-label' %>
      <%= f.select :usuario_id, options_from_collection_for_select(Usuario.all, 'id', 'nome') %>
      
      <%= hidden_field_tag 'laudo[visita_id]', Visita.find_by_voluntario_id_and_numero(session[:voluntario], 8).id %>
      <%= hidden_field_tag 'laudo[tipo]', Laudo::TIPO_DN4 %>
    </div>
    
    <div class='form-actions'>
      <%= f.submit nil, :class => 'btn btn-success' %>
      <%= link_to 'Voltar', encerramento_path, :class => 'btn btn-danger' %>
    </div>
  <% end %>
<% end %>

<script type="text/javascript">
$(document).ready(function() {
   $("#new_laudo").ketchup();
});

var varObj = {
    val1: 0,
    val2: 0,
    val3: 0,
    val4: 0,
    val5: 0,
    val6: 0,
    val7: 0,
    val8: 0,
    val9: 0,
    val10: 0
};

var escore = 0;

function atualiza_escore(el, val) {
 if ( $(el).is(':checked') ) {
   if ( $(el).val() == "true") {
      eval("varObj.val"+val+" = 1")
   }
   else {
      eval("varObj.val"+val+" = 0")
   }
   soma_escore();
   $('#laudo_escore').val(escore);
 }
}

function soma_escore(){
  escore = varObj.val1 + varObj.val2 + varObj.val3 + varObj.val4 + varObj.val5 +
    varObj.val6 + varObj.val7 + varObj.val8 + varObj.val9 + varObj.val10;
}
</script>