<div class="breadcrumb">
  <ul class="breadcrumb">
    <li>
      <span class="glyphicon glyphicon-home"></span>
      <%= link_to 'Principal', root_path %><span class="divider"></span>
    </li>
    <li>
      <%= link_to 'Encerramento', encerramento_path %><span class="divider"></span>
    </li>
    <li class="active">EVA de encerramento</li>
  </ul>
</div>

<h1>EVA de encerramento</h1>

<% if @laudo.errors.any? %>
    <div class="alert alert-dismissable alert-danger">
      <strong><%= pluralize(@laudo.errors.count, "erro impediu") %> a Questionário-EVA de ser salvo:</strong>
      <ul>
      <% @laudo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= render 'partials/escolher_voluntario', :usuario => false %>

<% unless session[:voluntario].blank? %>
  <%= form_for @laudo, :url => encerramento_salvar_eva_path, :html => { :multipart => true } do |f| %>
    <div class='control-group'>
      <%= render 'partials/upload', :f => f, :imagem => :imagem, :texto => 'Anexar imagem do laudo da EVA',
        :texto_data => 'Data do questionário', :tipo => Laudo::TIPO_EVA %>
    
      <%= f.label :escore, 'Nota de 0 a 10 na Escala Visual Analógica', :class => 'control-label' %>
      <%= f.text_field :escore, "data-validate" => "validate(required, range(0,10)) on(blur change)"  %>
      
      <%= f.label :usuario_id, nil, :class => 'control-label' %>
      <%= f.select :usuario_id, options_from_collection_for_select(Usuario.all, 'id', 'nome') %>
      
      <%= hidden_field_tag 'laudo[visita_id]', Visita.find_by_voluntario_id_and_numero(session[:voluntario], 8).id %>
      <%= hidden_field_tag 'laudo[tipo]', Laudo::TIPO_EVA %>
    </div>
    
    <div class='form-actions'>
      <%= f.submit nil, :class => 'btn btn-success' %>
      <%= link_to 'Voltar', encerramento_path, :class => 'btn btn-danger' %>
    </div>
  <% end %>
<% end %>

<script type="text/javascript">
$(document).ready(function() {
   $("#new_laudo").ketchup();
});
</script>

