<div class="breadcrumb">
  <ul class="breadcrumb">
    <li>
      <span class="glyphicon glyphicon-home"></span>
      <%= link_to 'Principal', root_path %><span class="divider"></span>
    </li>
    <li>
      <%= link_to 'Encerramento', encerramento_path %><span class="divider"></span>
    </li>
    <li class="active">Exames complementares</li>
  </ul>
</div>

<h1>Exames complementares</h1>

<ul class="unstyled horizontal-list">
  <li><%= link_to 'Teste de gravidez', encerramento_teste_gravidez_path %></li>
  <li><%= link_to 'Hemograma completo', encerramento_hemograma_path %></li>
  <li><%= link_to 'Função renal', encerramento_func_renal_path %></li>
  <li><%= link_to 'Função hepática', encerramento_func_hepatica_path %></li>
  <li><%= link_to 'Rx tórax', encerramento_rx_torax_path %></li>
  <div class="clear"></div>
</ul>

<%= link_to 'Voltar', encerramento_path, :class => 'btn btn-danger' %>