<% content_for(:head) do %>
  <%= javascript_include_tag 'date_picker', 'dialog_evento_adverso' %>
<% end %>

<div class="info">
  <h1>Registrar evento adverso</h1>
  <span class="btn btn-small btn-info _info_evento_adverso">
    <i class="icon-info-sign icon-white"></i>
  </span>
  <div class="clear"></div>
</div>

<%= render 'partials/escolher_voluntario', :usuario => false %>

<% unless session[:voluntario].blank? %>
  <%= form_for @evento_adverso, :url => salvar_evento_adverso_path do |f| %>
    <div class='control-group'>
      <h2>Tipos de eventos adversos:</h2>
      <div class="controls">
        <label class="checkbox">
          <div class="checkbox inline">
            <%= f.check_box :sinal_desfavoravel_bool %>
            <%= f.label :sinal_desfavoravel_bool, nil, :class => 'control-label' %>
          </div>
          <div class='pull-right'>
            <div class="radio inline">
              <%= f.radio_button :sinal_desfavoravel, 0 %>
              <%= f.label :sinal_desfavoravel_0, 'Leve' %>
            </div>
            <div class="radio inline">
              <%= f.radio_button :sinal_desfavoravel, 1 %>
              <%= f.label :sinal_desfavoravel_1, 'Moderado' %>
            </div>
            <div class="radio inline">
              <%= f.radio_button :sinal_desfavoravel, 2 %>
              <%= f.label :sinal_desfavoravel_2, 'Severo' %>
            </div>
          </div>
        </label>
      </div>
      <div class="controls">
        <label class="checkbox">
          <div class="checkbox inline">
            <%= f.check_box :sintoma_temporario_bool %>
            <%= f.label :sintoma_temporario_bool, nil, :class => 'control-label' %>
          </div>
          <div class='pull-right'>
            <div class="radio inline">
              <%= f.radio_button :sintoma_temporario, 0 %>
              <%= f.label :sintoma_temporario_0, 'Leve' %>
            </div>
            <div class="radio inline">
              <%= f.radio_button :sintoma_temporario, 1 %>
              <%= f.label :sintoma_temporario_1, 'Moderado' %>
            </div>
            <div class="radio inline">
              <%= f.radio_button :sintoma_temporario, 2 %>
              <%= f.label :sintoma_temporario_2, 'Severo' %>
            </div>
          </div>
        </label>
      </div>
      <div class="controls">
        <label class="checkbox">
          <div class="checkbox inline">
            <%= f.check_box :procedimento_cirurgico_bool %>
            <%= f.label :procedimento_cirurgico_bool, nil, :class => 'control-label' %>
          </div>
          <div class='pull-right'>
            <div class="radio inline">
              <%= f.radio_button :procedimento_cirurgico, 0 %>
              <%= f.label :procedimento_cirurgico_0, 'Leve' %>
            </div>
            <div class="radio inline">
              <%= f.radio_button :procedimento_cirurgico, 1 %>
              <%= f.label :procedimento_cirurgico_1, 'Moderado' %>
            </div>
            <div class="radio inline">
              <%= f.radio_button :procedimento_cirurgico, 2 %>
              <%= f.label :procedimento_cirurgico_2, 'Severo' %>
            </div>
          </div>
        </label>
      </div>
      <div class="controls">
        <label class="checkbox">
          <div class="checkbox inline">
            <%= f.check_box :valores_fora_da_referencia_bool %>
            <%= f.label :valores_fora_da_referencia_bool, nil, :class => 'control-label' %>
          </div>
          <div class='pull-right'>
            <div class="radio inline">
              <%= f.radio_button :valores_fora_da_referencia, 0 %>
              <%= f.label :valores_fora_da_referencia_0, 'Leve' %>
            </div>
            <div class="radio inline">
              <%= f.radio_button :valores_fora_da_referencia, 1 %>
              <%= f.label :valores_fora_da_referencia_1, 'Moderado' %>
            </div>
            <div class="radio inline">
              <%= f.radio_button :valores_fora_da_referencia, 2 %>
              <%= f.label :valores_fora_da_referencia_2, 'Severo' %>
            </div>
          </div>
        </label>
      </div>
      <div class="controls">
        <label class="checkbox">
          <div class="checkbox inline">
            <%= f.check_box :valores_alterados_bool %>
            <%= f.label :valores_alterados_bool, nil, :class => 'control-label' %>
          </div>
          <div class='pull-right'>
            <div class="radio inline">
              <%= f.radio_button :valores_alterados, 0 %>
              <%= f.label :valores_alterados_0, 'Leve' %>
            </div>
            <div class="radio inline">
              <%= f.radio_button :valores_alterados, 1 %>
              <%= f.label :valores_alterados_1, 'Moderado' %>
            </div>
            <div class="radio inline">
              <%= f.radio_button :valores_alterados, 2 %>
              <%= f.label :valores_alterados_2, 'Severo' %>
            </div>
          </div>
        </label>
      </div>
      <div class="controls">
        <label class="checkbox">
          <div class="checkbox inline">
            <%= f.check_box :achados_fisicos_bool %>
            <%= f.label :achados_fisicos_bool, nil, :class => 'control-label' %>
          </div>
          <div class='pull-right'>
            <div class="radio inline">
              <%= f.radio_button :achados_fisicos, 0 %>
              <%= f.label :achados_fisicos_0, 'Leve' %>
            </div>
            <div class="radio inline">
              <%= f.radio_button :achados_fisicos, 1 %>
              <%= f.label :achados_fisicos_1, 'Moderado' %>
            </div>
            <div class="radio inline">
              <%= f.radio_button :achados_fisicos, 2 %>
              <%= f.label :achados_fisicos_2, 'Severo' %>
            </div>
          </div>
        </label>
      </div>
      
      <%= f.label :observacoes, nil, :class => 'control-label' %>
      <%= f.text_area :observacoes, :rows => '4' %>
      
      <%= f.label :data_formatada, nil, :class => 'control-label' %>
      <%= f.text_field :data_formatada, :class => '_data_calendario' %>
      
      <%= f.label :usuario_id, nil, :class => 'control-label' %>
      <%= f.select :usuario_id, options_from_collection_for_select(Usuario.all, 'id', 'nome') %>
      
      <%= hidden_field_tag 'evento_adverso[voluntario_id]', session[:voluntario] %>
    </div>
    
    <div class='form-actions'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Voltar', eventos_adversos_menu_path, :class => 'btn' %>
    </div>
  <% end %>
<% end %>

<div class="_dialog_evento_adverso" title='Ajuda' style="display:none">
  <p>Um evento adverso (EA) é qualquer ocorrência médica desfavorável em um voluntário submetido à administração de um medicamento, que não tem necessariamente uma relação causal com este tratamento. Um EA pode ser, portanto, qualquer sinal desfavorável e não intencional (incluindo um achado laboratorial anormal), sintoma ou doença temporariamente associada ao uso da medicação do estudo, relacionados ou não a ela. Se um procedimento cirúrgico é realizado durante o estudo, a condição subjacente deve ser declarada como EA (por exemplo, apendicite é o EA, resultando em apendicectomia).
  </p>
  <p>Os seguintes valores laboratoriais e achados físicos também devem ser considerados EAs:
  <br/>
  - Valores laboratoriais fora do valor de referência, clinicamente relevantes, excluindo os exames da seleção;
  <br/>
  - Valores laboratoriais alterados em relação aos exames prévios;
  <br/>
  - Achados físicos pré-existentes (incluindo a medição de sinais vitais), que pioram e que são clinicamente relevantes.
  </p>
  <p>Os eventos adversos deverão ser verificados a partir da assinatura do termo de consentimento livre e esclarecido. Todos deverão ser registrados no documento fonte e na ficha clínica, mesmo se a medicação do estudo estiver suspensa. O sujeito de pesquisa terá a oportunidade de relatar EAs espontaneamente. Uma instrução também será dada a cada visita para detectar EAs.
  </p>
</div>
