<% content_for(:head) do %>
  <%= javascript_include_tag 'date_picker' %>
<% end %>

<h1>Registrar superdose</h1>

<%= render 'partials/escolher_voluntario', :usuario => false %>

<% unless session[:voluntario].blank? %>
<br/>
  <%= form_for @superdose, :url => salvar_superdose_path do |f| %>
    <div class='control-group'>
      
      <%= f.label :observacoes, nil, :class => 'control-label' %>
      <%= f.text_area :observacoes, :rows => '4' %>
      
      <%= f.label :data_formatada, nil, :class => 'control-label' %>
      <%= f.text_field :data_formatada, :class => '_data_calendario' %>
      
      <%= f.label :usuario_id, nil, :class => 'control-label' %>
      <%= f.select :usuario_id, options_from_collection_for_select(Usuario.all, 'id', 'nome') %>
      
      <%= hidden_field_tag 'superdose[voluntario_id]', session[:voluntario] %>
    </div>

    <div class='form-actions'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Voltar', eventos_adversos_menu_path, :class => 'btn' %>
    </div>
  <% end %>
<% end %>
