<% content_for(:head) do %>
  <%= javascript_include_tag 'date_picker' %>
<% end %>

<h1>Avaliar adesão</h1>

<%= render 'partials/escolher_voluntario_visita', :usuario => false %>

<% if !session[:voluntario].blank? && (session[:numero] && (session[:numero].to_i > 1 && session[:numero].to_i < 8)) %>
  <%= form_for @adesao, :url => execucao_salvar_adesao_path do |f| %>
    <div class='control-group'>
    
      <%= f.label :observacoes, nil, :class => 'control-label' %>
      <%= f.text_area :observacoes, :rows => '4' %>
      
      <%= f.label :data_formatada, nil, :class => 'control-label' %>
      <%= f.text_field :data_formatada, :class => '_data_calendario' %>
      
      <%= f.label :usuario_id, nil, :class => 'control-label' %>
      <%= f.select :usuario_id, options_from_collection_for_select(Usuario.all, 'id', 'nome') %>
      
    </div>
    
    <div class='form-actions'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Voltar', execucao_path, :class => 'btn' %>
    </div>
  <% end %>
<% end %>
