<h1>Exames complementares de execução</h1>

<ul class="unstyled horizontal-list">
  <li><%= link_to 'Teste de gravidez', execucao_teste_gravidez_path %></li>
  <li><%= link_to 'Hemograma completo', execucao_hemograma_path %></li>
  <li><%= link_to 'Função renal', execucao_func_renal_path %></li>
  <li><%= link_to 'Função hepática', execucao_func_hepatica_path %></li>
  <li><%= link_to 'Rx tórax', execucao_rx_torax_path %></li>
  <div class="clear"></div>
</ul>

<%= link_to 'Voltar', execucao_path, :class => 'btn' %>