<h1>Avaliação clínica de seleção</h1>

<%= render 'partials/escolher_voluntario', :usuario => true %>

<% unless session[:voluntario].blank? %>
  <ul class='unstyled horizontal-list'>
    <li><%= link_to 'Dados demográficos', selecao_dados_demograficos_path %></li>
    <li><%= link_to 'Sinais vitais', selecao_sinais_vitais_path %></li>
    <li><%= link_to 'Anamnese', selecao_anamnese_path %></li>
    <li><%= link_to 'Exame físico', selecao_exame_fisico_path %></li>
    <div class="clear"></div>
  </ul>
<% end %>

<%= link_to 'Voltar', selecao_menu_path, :class => 'btn btn-danger' %>
