<h1>Exame físico</h1>

<%= render 'partials/avaliacao_clinica/form_exame_fisico', :url => execucao_exame_fisico_path %>

<ul class='unstyled horizontal-list'>
  <li><%= link_to 'Exame da força', execucao_exame_forca_path %></li>
  <li><%= link_to 'Reflexos', execucao_reflexos_path %></li>
  <li><%= link_to 'Esfíncteres', execucao_esfincteres_path %></li>
  <li><%= link_to 'Coordenação', execucao_coordenacao_path %></li>
  <li><%= link_to 'Tônus muscular', execucao_tonus_muscular_path %></li>
  <li><%= link_to 'Nervos periféricos', execucao_nervos_perifericos_path %></li>
  <div class="clear">
</ul>

<%= link_to 'Voltar', execucao_new_avaliacao_clinica_path, :class => 'btn' %>