<h1>Registrar assinatura do TCLE</h1>

  <% if @laudo.errors.any? %>
    <div class="alert alert-dismissable alert-danger">
      <strong><%= pluralize(@laudo.errors.count, "erro impediu") %> esta assinatura de TCLE de ser salva:</strong>
      <ul>
      <% @laudo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= render 'partials/escolher_voluntario', :usuario => false %>

<% unless session[:voluntario].blank? %>
  <%= form_for @laudo, :url => selecao_tcles_path, :html => { :multipart => true, :id => "form_laudo" } do |f| %>
    <div class='control-group'>
      <%= render 'partials/upload', :f => f, :imagem => :imagem, :texto => 'Anexar imagem do TCLE assinado', :texto_data => 'Data da assinatura', :tipo => Laudo::TIPO_TCLE %>
      
      <%= hidden_field_tag 'laudo[visita_id]', Visita.find_by_voluntario_id_and_numero(session[:voluntario], 1).id %>
      <%= hidden_field_tag 'laudo[tipo]', Laudo::TIPO_TCLE %>
    </div>
    
    <div class='form-actions'>
      <%= f.submit nil, :class => 'btn btn-success' %>
      <%= link_to 'Voltar', selecao_menu_path, :class => 'btn btn-danger' %>
    </div>
  <% end %>
<% end %>

<script type="text/javascript">
$(document).ready(function() {
   $('#form_laudo').ketchup();
});
</script>
