<% content_for(:head) do %>
  <%= javascript_include_tag 'date_picker' %>
<% end %>

<div class="breadcrumb">
  <ul class="breadcrumb">
    <li>
      <span class="glyphicon glyphicon-home"></span>
      <%= link_to 'Principal', root_path %><span class="divider"></span>
    </li>
    <li>
      <%= link_to 'Eventos adversos', eventos_adversos_menu_path %><span class="divider"></span>
    </li>
    <li class="active">Registrar eventos adversos graves</li>
  </ul>
</div>

<h1>Registrar eventos adversos graves</h1>

<%= render 'partials/escolher_voluntario', :usuario => false %>

<% unless session[:voluntario].blank? %>
  <%= form_for @evento_adverso_grave, :url => salvar_evento_adverso_grave_path do |f| %>
    <div class='control-group'>
      <h2>Evento adverso grave:</h2>
      <div class="controls">
        <label class="checkbox">
          <div class="checkbox inline">
            <%= f.check_box :obito, :onclick => "desabilita_habilita_por_obito()" %>
            <%= f.label :obito, nil, :class => 'control-label' %>
          </div>
        </label>
      </div>
      <div class="controls">
        <label class="checkbox">
          <div class="checkbox inline">
            <%= f.check_box :ameaca_vida %>
            <%= f.label :ameaca_vida, nil, :class => 'control-label' %>
          </div>
        </label>
      </div>
      <div class="controls">
        <label class="checkbox">
          <div class="checkbox inline">
            <%= f.check_box :invalidez %>
            <%= f.label :invalidez, nil, :class => 'control-label' %>
          </div>
        </label>
      </div>
      <div class="controls">
        <label class="checkbox">
          <div class="checkbox inline">
            <%= f.check_box :anomalia_congenita %>
            <%= f.label :anomalia_congenita, nil, :class => 'control-label' %>
          </div>
        </label>
      </div>
      <div class="controls">
        <label class="checkbox">
          <div class="checkbox inline">
            <%= f.check_box :hospitalizacao %>
            <%= f.label :hospitalizacao, nil, :class => 'control-label' %>
          </div>
        </label>
      </div>

      <div class="controls" style="padding: 10px 0px 10px 0px;">
      <%= f.label :observacoes, nil, :class => 'control-label' %>
      <%= f.text_area :observacoes, :rows => '4', "data-validate" => "validate(required)" %>
      </div>
      
      <div class="controls" style="padding: 10px 0px 10px 0px;">
      <%= f.label :data_formatada, nil, :class => 'control-label' %>
      <%= f.text_field :data_formatada, :class => '_data_calendario', "data-validate" => "validate(required)" %>
      </div>
      
      <div class="controls" style="padding: 10px 0px 10px 0px;">
      <%= f.label :usuario_id, nil, :class => 'control-label' %>
      <%= f.select :usuario_id, options_from_collection_for_select(Usuario.all, 'id', 'nome') %>
      </div>
      
      <%= hidden_field_tag 'evento_adverso_grave[voluntario_id]', session[:voluntario] %>

     </div>
    
    <div class='form-actions'>
      <%= f.submit nil, :class => 'btn btn-success' %>
      <%= link_to 'Voltar', eventos_adversos_menu_path, :class => 'btn btn-danger' %>
    </div>
  <% end %>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
        $('#new_evento_adverso_grave').ketchup();
  })

  function desabilita_habilita_por_obito() {
    if ($("#evento_adverso_grave_obito").is(":checked")) {
      $("#evento_adverso_grave_ameaca_vida").attr("disabled",true);
      $("#evento_adverso_grave_invalidez").attr("disabled",true);
      $("#evento_adverso_grave_anomalia_congenita").attr("disabled",true);
      $("#evento_adverso_grave_hospitalizacao").attr("disabled",true);
    }
    else {
      $("#evento_adverso_grave_ameaca_vida").attr("disabled",false);
      $("#evento_adverso_grave_invalidez").attr("disabled",false);
      $("#evento_adverso_grave_anomalia_congenita").attr("disabled",false);
      $("#evento_adverso_grave_hospitalizacao").attr("disabled",false);
    }
  }
</script>