<%= form_for @avaliacao_clinica, :url => url do |f| %>
  <% if @avaliacao_clinica.errors.any? %>
    <div class="alert alert-dismissable alert-danger">
      <strong><%= pluralize(@avaliacao_clinica.errors.count, "erro impediu") %> esta avaliação clínica de ser salva:</strong>
      <ul>
        <% @avaliacao_clinica.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field_tag 'avaliacao_clinica[usuario_id]', session[:usuario] %>

  <div class='control-group'>
    <%= f.fields_for :exame_fisico do |e| %>
      <%= e.fields_for :exame_complemento do |c| %>

        <%= c.label :espessamento_nervo, nil, :class => 'control-label' %>
        <div class="controls">
          <div class='radio inline'>
            <%= c.radio_button :espessamento_nervo, true %>
            <%= c.label :espessamento_nervo_true, 'Sim' %>
          </div>
          <div class='radio inline'>
            <%= c.radio_button :espessamento_nervo, false %>
            <%= c.label :espessamento_nervo_false, 'Não' %>
          </div>
        </div>

        <%= c.label :nervo_espessado, nil, :class => 'control-label' %>
        <%= c.text_area :nervo_espessado, :rows => 4 %>

      <% end %>
    <% end %>
  </div>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-success' %>
    <%= link_to 'Voltar', voltar, :class => 'btn btn-danger' %>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    $('#edit_avaliacao_clinica_<%=@avaliacao_clinica.id%>').ketchup();
  });
</script>