<% content_for(:head) do %>
  <%= javascript_include_tag 'date_picker' %>
<% end %>

<h1>Aplicar critérios de inclusão e exclusão</h1>

  <% if !session[:voluntario].blank? && @voluntario.errors.any? %>
    <div class="alert alert-dismissable alert-danger">
      <strong><%= pluralize(@voluntario.errors.count, "erro impediu") %> estes critérios de serem salvos:</strong>
      <ul>
      <% @voluntario.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<%= render 'partials/escolher_voluntario', :usuario => false %>

<% unless session[:voluntario].blank? %>
  <%= form_for @resource, :as => :voluntario, :url => selecao_criterios_path do |f| %>
  
    <div class='control-group'>
      <%#= hidden_field_tag 'criterio[voluntario_id]', session[:voluntario] %>
      <%= f.fields_for :criterios, @voluntario.criterios.last do |c| %>
        <%= render 'partials/form_criterio', :f => c, :usuario => @voluntario.criterios.last.usuario_id %>
      <% end %>
    
      <%= f.fields_for :inclusoes, @voluntario.inclusoes.last do |i| %>
        <%= render 'partials/form_inclusao', :f => i, :motivo => 'Critérios I/E' %>
      <% end %>
    </div>
    
    <div class='form-actions'>
      <%= f.submit nil, :class => 'btn btn-success' %>
      <%= link_to 'Voltar', selecao_menu_path, :class => 'btn btn-danger' %>
    </div>
  <% end %>
<% end %>

<script type="text/javascript">
$(document).ready(function() {
   $('#new_voluntario').ketchup();
});
</script>