<h1>Neurofisiologia - CHEPS</h1>

<% if @laudo.errors.any? %>
  <div class="alert alert-dismissable alert-danger">
    <strong><%= pluralize(@laudo.errors.count, "erro impediu") %> a Neurofisiologia - CHEPS de ser salva:</strong>
    <ul>
    <% @laudo.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= render 'partials/escolher_voluntario', :usuario => false %>

<% unless session[:voluntario].blank? %>
  <%= form_for @laudo, :url => selecao_salvar_cheps_path, :html => { :multipart => true } do |f| %>
    <div class='control-group'>
      <%= render 'partials/upload', :f => f, :imagem => :imagem, :texto => 'Anexar imagem do laudo do CHEPS',
        :texto_data => 'Data do exame', :tipo => Laudo::TIPO_CHEPS %>
    
      <div class="field">
        <%= f.label :usuario_id, nil, :class => 'control-label' %>
        <%= f.select :usuario_id, options_from_collection_for_select(Usuario.all, 'id', 'nome') %>
      </div>
      
      <%= hidden_field_tag 'laudo[visita_id]', Visita.find_by_voluntario_id_and_numero(session[:voluntario], 1).id %>
      <%= hidden_field_tag 'laudo[tipo]', Laudo::TIPO_CHEPS %>
    </div>
    
    <div class='form-actions'>
      <%= f.submit nil, :class => 'btn btn-success' %>
      <%= link_to 'Voltar', selecao_neurofisiologia_path, :class => 'btn btn-danger' %>
    </div>
  <% end %>
<% end %>

<script type="text/javascript">
$(document).ready(function() {
   $("#new_laudo").ketchup();
});
</script>