<fieldset>

  <h2>Cortes parafina</h2>

  <div class="row">

    <div class="span4">

      <div class="control-group">
        <%= f.label :celulas_inflamatorias, nil, :class => 'control-label' %>
        <div class='controls'>
          <div class='radio inline'>
            <%= f.radio_button :celulas_inflamatorias, 1 %>
            <%= f.label :celulas_inflamatorias_1, 'Leve' %>
          </div>
          <div class='radio inline'>
            <%= f.radio_button :celulas_inflamatorias, 2 %>
            <%= f.label :celulas_inflamatorias_2, 'Moderada' %>
          </div>
          <div class='radio inline'>
            <%= f.radio_button :celulas_inflamatorias, 3 %>
            <%= f.label :celulas_inflamatorias_3, 'Intensa' %>
          </div>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :vasculite, nil, :class => 'control-label' %>
        <div class='controls'>
          <div class='radio inline'>
            <%= f.radio_button :vasculite, 1 %>
            <%= f.label :vasculite_1, 'Leve' %>
          </div>
          <div class='radio inline'>
            <%= f.radio_button :vasculite, 2 %>
            <%= f.label :vasculite_2, 'Moderada' %>
          </div>
          <div class='radio inline'>
            <%= f.radio_button :vasculite, 3 %>
            <%= f.label :vasculite_3, 'Intensa' %>
          </div>
        </div>
      </div>

    </div><!--end span4-->

    <div class="span4">

      <div class="control-group">
        <%= f.label :fibrose, nil, :class => 'control-label' %>
        <div class='controls'>
          <div class='radio inline'>
            <%= f.radio_button :fibrose, 1 %>
            <%= f.label :fibrose_1, 'Leve' %>
          </div>
          <div class='radio inline'>
            <%= f.radio_button :fibrose, 2 %>
            <%= f.label :fibrose_2, 'Moderada' %>
          </div>
          <div class='radio inline'>
            <%= f.radio_button :fibrose, 3 %>
            <%= f.label :fibrose_3, 'Intensa' %>
          </div>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :bacilos, nil, :class => 'control-label' %>
        <div class='controls'>
          <div class='radio inline'>
            <%= f.radio_button :bacilos, 1 %>
            <%= f.label :bacilos_1, 'Leve' %>
          </div>
          <div class='radio inline'>
            <%= f.radio_button :bacilos, 2 %>
            <%= f.label :bacilos_2, 'Moderada' %>
          </div>
          <div class='radio inline'>
            <%= f.radio_button :bacilos, 3 %>
            <%= f.label :bacilos_3, 'Intensa' %>
          </div>
        </div>
      </div>

    </div><!--end span4-->

  </div><!--end row-->
</fieldset>

<fieldset>

  <h2>Cortes semifinos corados pelo azul de toluidina</h2>

  <div class="row">

    <div class="span4">

      <div class="control-group">
        <%= f.label :perda_fibras, nil, :class => 'control-label' %>
        <div class='controls'>
          <div class='radio inline'>
            <%= f.radio_button :perda_fibras, 1 %>
            <%= f.label :perda_fibras_1, 'Leve' %>
          </div>
          <div class='radio inline'>
            <%= f.radio_button :perda_fibras, 2 %>
            <%= f.label :perda_fibras_2, 'Moderada' %>
          </div>
          <div class='radio inline'>
            <%= f.radio_button :perda_fibras, 3 %>
            <%= f.label :perda_fibras_3, 'Intensa' %>
          </div>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :degeneracao_axonal, nil, :class => 'control-label' %>
        <div class='controls'>
          <div class='radio inline'>
            <%= f.radio_button :degeneracao_axonal, 1 %>
            <%= f.label :degeneracao_axonal_1, 'Leve' %>
          </div>
          <div class='radio inline'>
            <%= f.radio_button :degeneracao_axonal, 2 %>
            <%= f.label :degeneracao_axonal_2, 'Moderada' %>
          </div>
          <div class='radio inline'>
            <%= f.radio_button :degeneracao_axonal, 3 %>
            <%= f.label :degeneracao_axonal_3, 'Intensa' %>
          </div>
        </div>
      </div>

    </div><!--end span4-->

    <div class="span4">

      <div class="control-group">
        <%= f.label :regeneracao_axonal, nil, :class => 'control-label' %>
        <div class='controls'>
          <div class='radio inline'>
            <%= f.radio_button :regeneracao_axonal, 1 %>
            <%= f.label :regeneracao_axonal_1, 'Leve' %>
          </div>
          <div class='radio inline'>
            <%= f.radio_button :regeneracao_axonal, 2 %>
            <%= f.label :regeneracao_axonal_2, 'Moderada' %>
          </div>
          <div class='radio inline'>
            <%= f.radio_button :regeneracao_axonal, 3 %>
            <%= f.label :regeneracao_axonal_3, 'Intensa' %>
          </div>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :desmielinizacao_ativa, nil, :class => 'control-label' %>
        <div class='controls'>
          <div class='radio inline'>
            <%= f.radio_button :desmielinizacao_ativa, 1 %>
            <%= f.label :desmielinizacao_ativa_1, 'Leve' %>
          </div>
          <div class='radio inline'>
            <%= f.radio_button :desmielinizacao_ativa, 2 %>
            <%= f.label :desmielinizacao_ativa_2, 'Moderada' %>
          </div>
          <div class='radio inline'>
            <%= f.radio_button :desmielinizacao_ativa, 3 %>
            <%= f.label :desmielinizacao_ativa_3, 'Intensa' %>
          </div>
        </div>
      </div>

    </div><!--end span4-->

  </div><!--end row-->
</fieldset>
