<% content_for(:head) do %>
  <%= javascript_include_tag 'partial_inclusao' %>
<% end %>

<fieldset>
  <h2>Opções</h2>

  <div class="row">
    <div class="span4">

      <div class="control-group">
        <%= f.label :incluido, nil, :class => 'control-label' %>
				<div class="controls">
				  <div class='radio inline'>
				    <%= f.radio_button :incluido, false %>
				    <%= f.label :incluido_false, 'Sim' %>
				  </div>
				  <div class='radio inline'>
				    <%= f.radio_button :incluido, true %>
				    <%= f.label :incluido_true, 'Não' %>
				  </div>
				</div>
      </div>

    </div><!--end span4-->

</fieldset>


<%= hidden_field_tag 'voluntario[inclusoes_attributes][0][motivo]', motivo %>
<%= hidden_field_tag 'voluntario[inclusoes_attributes][0][usuario_id]', '', :class => '_usuario_inclusao' %>

<%= hidden_field_tag 'voluntario[inclusoes][motivo]', motivo %>
<%= hidden_field_tag 'voluntario[inclusoes][usuario_id]', '', :class => '_usuario_inclusao' %>