<% content_for(:head) do %>
  <%= javascript_include_tag 'date_picker' %>
<% end %>

<div class="upload_field">
  <div class="upload_field">
    <%= f.label :data_formatada, texto_data, :class => 'control-label' %>
    <%= f.text_field :data_formatada, :value => $data_formatada ,:class => '_data_calendario', "data-validate" => "validate(required,date) on(blur change)" %>
  </div>
  <div class="upload_field">
    <%= f.label imagem, texto, :class => 'control-label' %>
    <%if Laudo::TIPOS_ARQUIVO_OBRIGATORIO.include? tipo %>
      <%= f.file_field imagem, "data-validate" => "validate(required) on(blur change)" %>
    <%else%>
      <%= f.file_field imagem %>
    <%end%>
  </div>
</div>