<% content_for(:head) do %>
  <%= javascript_include_tag 'date_picker' %>
<% end %>

<%= form_for @avaliacao_clinica, :url => url do |f| %>
  <% if @avaliacao_clinica.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@avaliacao_clinica.errors.count, "erro impediu") %> esta avaliação clínica de ser salva:</h2>

      <ul>
      <% @avaliacao_clinica.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field_tag 'avaliacao_clinica[usuario_id]', session[:usuario] %>
  
  <div class="row">
    <div class="span4">
  
      <div class="control-group">
        <%= f.label :queixa_principal, :class => 'control-label' %>
        <div class='controls'>
          <%= f.text_area :queixa_principal, :rows => 4 %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :historia_doenca_atual, :class => 'control-label' %>
        <div class='controls'>
          <%= f.text_area :historia_doenca_atual, :rows => 4 %>
        </div>
      </div>
    
      <div class="control-group">
        <%= f.label :historia_medica_pregressa, :class => 'control-label' %>
        <div class='controls'>
          <%= f.text_area :historia_medica_pregressa, :rows => 4 %>
        </div>
      </div>
    
      <div class="control-group">
        <%= f.label :tabagista, :class => 'control-label' %>
        <div class='controls'>
          <div class='radio inline'>
            <%= f.radio_button :tabagista, true %>
            <%= f.label :tabagista_true, 'Sim' %>
          </div>
          <div class='radio inline'>
            <%= f.radio_button :tabagista, false %>
            <%= f.label :tabagista_false, 'Não' %>
          </div>
          <%= f.label :carga_tabagica, :class => 'control-label' %>
          <%= f.text_field :carga_tabagica %>
        </div>
      </div>
      
    </div>
    
    <div class='span4'>
    
      <div class="control-group">
        <%= f.label :historico_familiar, :class => 'control-label' %>
        <div class='controls'>
          <%= f.text_area :historico_familiar, :rows => 4 %>
        </div>
      </div>
      
      <div class="control-group">
        <%= f.label :historia_pessoal_social, :class => 'control-label' %>
        <div class='controls'>
          <%= f.text_area :historia_pessoal_social, :rows => 4 %>
        </div>
      </div>
  
      <div class="control-group">
        <%= f.label :alergias, :class => 'control-label' %>
        <div class='controls'>
          <%= f.text_area :alergias, :rows => 4 %>
        </div>
      </div>
      
      <div class="control-group">
        <%= f.label :alcoolista, :class => 'control-label' %>
        <div class='controls'>
          <div class='radio inline'>
            <%= f.radio_button :alcoolista, true %>
            <%= f.label :alcoolista_true, 'Sim' %>
          </div>
          <div class='radio inline'>
            <%= f.radio_button :alcoolista, false %>
            <%= f.label :alcoolista_false, 'Não' %>
          </div>
          <%= f.label :quantidade_alcool, :class => 'control-label' %>
          <%= f.text_field :quantidade_alcool %>
        </div>
      </div>
      
    </div>
    
    <div class='span4'>
    
      <div class="control-group">
        <%= f.label :revisao_sistemas, :class => 'control-label' %>
        <div class='controls'>
          <%= f.text_area :revisao_sistemas, :rows => 4 %>
        </div>
      </div>
  
      <div class="control-group">
        <%= f.label :data_anamnese_formatada, :class => 'control-label' %>
        <div class='controls'>
          <%= f.text_field :data_anamnese_formatada, :class => '_data_calendario' %>
        </div>
      </div>

    </div><!--end span4-->
  </div><!--end row-->
  
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to 'Voltar', voltar, :class => 'btn' %>
  </div>
<% end %>
