<h1>Exame físico</h1>

<%= render 'partials/avaliacao_clinica/form_exame_fisico', :url => encerramento_exame_fisico_path %>

<ul class='unstyled horizontal-list'>
  <li><%= link_to 'Exame da força', encerramento_exame_forca_path %></li>
  <li><%= link_to 'Reflexos', encerramento_reflexos_path %></li>
  <li><%= link_to 'Esfíncteres', encerramento_esfincteres_path %></li>
  <li><%= link_to 'Coordenação', encerramento_coordenacao_path %></li>
  <li><%= link_to 'Tônus muscular', encerramento_tonus_muscular_path %></li>
  <li><%= link_to 'Nervos periféricos', encerramento_nervos_perifericos_path %></li>
  <div class="clear">
</ul>

<%= link_to 'Voltar', encerramento_new_avaliacao_clinica_path, :class => 'btn' %>