<h1>Aplicar questionários</h1>

<ul class="unstyled horizontal-list">
  <li><%= link_to 'EVA', selecao_eva_path %></li>
  <li><%= link_to 'DN4', selecao_dn4_path %></li>
  <li><%= link_to 'SF36', selecao_sf36_path %></li>
  <li><%= link_to 'LANSS', selecao_lanss_path %></li>
  <li><%= link_to 'Mini mental', selecao_mini_mental_path %></li>
  <div class="clear"></div>
</ul>

<%= link_to 'Voltar', selecao_menu_path, :class => 'btn' %>