<% content_for(:head) do %>
  <%= stylesheet_link_tag "token-input-facebook" %>
  <%= javascript_include_tag "date_picker", "jquery.tokeninput", "token_input" %>
<% end %>

<%= form_for(@agenda) do |f| %>
  <% if @agenda.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@agenda.errors.count, "erro impediu") %> esta agenda de ser salva:</h2>

      <ul>
      <% @agenda.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>

    <h2>Agendar</h2>

    <div class="row">
      <div class="span4">

        <div class="control-group">
          <%= f.label :data_formatada, nil, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :data_formatada, :class => '_data_calendario' %>
          </div>
        </div>

      </div><!--end span4-->

      <div class="span4">

        <div class="control-group">
          <%= f.label :tipo, nil, :class => 'control-label' %>
          <div class="controls">
            <%= f.select :tipo, options_for_select(Agenda::TIPOS.map{|key,value| [value, key]}, @agenda.tipo) %>
          </div>
        </div>

      </div><!--end span4-->

      <div class="span4">

        <div class="control-group">
          <%= f.label :voluntario_id, nil, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :voluntario_id, :class => '_voluntario', 'data-pre' => @agenda.token_voluntario %>
          </div>
        </div>

      </div><!--end span4-->

    </div><!--end row-->
  </fieldset>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to 'Voltar', voltar, :class => 'btn' %>
  </div>
<% end %>
