<h1>Revisar avaliação clínica de seleção</h1>

<%= render 'partials/escolher_voluntario', :usuario => false %>

<% if @avaliacao %>
  <p>
    <b>Pressão:</b>
    <%= @avaliacao.pressao_sistolica %> x <%= @avaliacao.pressao_diastolica %>
  </p>

  <p>
    <b>FC:</b>
    <%= @avaliacao.frequencia_cardiaca %>
  </p>

  <p>
    <b>FR:</b>
    <%= @avaliacao.frequencia_respiratoria %>
  </p>

  <p>
    <b>Temperatura:</b>
    <%= @avaliacao.temperatura %>
  </p>

  <p>
    <b>Peso:</b>
    <%= @avaliacao.peso %>
  </p>

  <p>
    <b>Altura:</b>
    <%= @avaliacao.altura %>
  </p>

  <p>
    <b>Queixa principal (QP):</b>
    <%= @avaliacao.queixa_principal %>
  </p>

  <p>
    <b>História da doença atual (HDA):</b>
    <%= @avaliacao.historia_doenca_atual %>
  </p>

  <p>
    <b>História médica pregressa (HPP):</b>
    <%= @avaliacao.historia_medica_pregressa %>
  </p>

  <p>
    <b>Histórico familiar/familial (HF):</b>
    <%= @avaliacao.historico_familiar %>
  </p>

  <p>
    <b>História pessoal e social:</b>
    <%= @avaliacao.historia_pessoal_social %>
  </p>

  <p>
    <b>Tabagista:</b>
    <%= @avaliacao.tabagista ? 'Sim' : 'Não' %>
  </p>

  <p>
    <b>Carga tabágica:</b>
    <%= @avaliacao.carga_tabagica %>
  </p>
  
  <p>
    <b>Alcoolista:</b>
    <%= @avaliacao.alcoolista ? 'Sim' : 'Não' %>
  </p>
  
  <p>
    <b>Quantidade:</b>
    <%= @avaliacao.quantidade_alcool %>
  </p>
  
  <p>
    <b>Alergias:</b>
    <%= @avaliacao.alergias %>
  </p>
  
  <p>
    <b>Revisão de sistemas:</b>
    <%= @avaliacao.revisao_sistemas %>
  </p>
  
  <% if @avaliacao.exame_fisico %>
    <% exame = @avaliacao.exame_fisico %>
    
    <p>
      <b>Ectoscopia:</b>
      <%= exame.ectoscopia %>
    </p>

    <p>
      <b>Exame cardiovascular:</b>
      <%= exame.exame_cardiovascular %>
    </p>
    
    <p>
      <b>Exame respiratório:</b>
      <%= exame.exame_respiratorio %>
    </p>
    
    <p>
      <b>Exame do abdome:</b>
      <%= exame.exame_abdome %>
    </p>
    
    <p>
      <b>Exame da marcha:</b>
      <%= exame.exame_marcha %>
    </p>
    
    <p>
      <b>Estática:</b>
      <%= exame.estatica %>
    </p>
    
    <p>
      <b>Nervos cranianos:</b>
      <%= exame.nervos_cranianos %>
    </p>
    
    <p>
      <b>Sensibilidade superficial:</b>
      <%= exame.sensibilidade_superficial %>
    </p>
    
    <% if exame.exame_complemento %>
    <% complemento = exame.exame_complemento %>
    
    <%= render 'alocacao/analisar_prontuarios/show_exame_forca', :complemento => complemento %>
    
    <p>
      <b>Reflexos profundos:</b>
      <%= complemento.reflexos_profundos %>
    </p>
    
    <p>
      <b>Reflexos superficiais:</b>
      <%= complemento.reflexos_superficiais %>
    </p>
    
    <p>
      <b>Esfíncteres:</b>
      <%= complemento.esfincteres %>
    </p>
    
    <p>
      <b>Coordenação:</b>
      <%= complemento.coordenacao %>
    </p>
    
    <p>
      <b>Tônus muscular:</b>
      <%= complemento.tonus_muscular %>
    </p>
    
    <p>
      <b>Espessamento de nervo:</b>
      <%= complemento.espessamento_nervo ? 'Sim' : 'Não' %>
    </p>
    
    <p>
      <b>Nervo espessado:</b>
      <%= complemento.nervo_espessado %>
    </p>
    <% end %>
  <% end %>
  
<% else %>
  <p>A avaliação clínica de seleção deste voluntário não foi feita.</p>
<% end %>

<%= link_to 'Voltar', analisar_prontuarios_path, :class => 'btn' %>
