<p>
  <b>Código:</b>
  <%= @voluntario.id %>
</p>

<p>
  <b>Nome:</b>
  <%= @voluntario.nome %>
  <%= link_to 'Editar', edit_voluntario_path(@voluntario), :class => 'btn btn-xs btn-success', :style => "margin-left:20px;" %>
</p>

<div class="panel panel-info">

  <div class="panel-heading">
    <h3 class="panel-title toggle" data-target="detalhes">Exibir Detalhes <span class="plus_minus">[+]</span></h3>
  </div>

  <div class="panel-body" id="detalhes">

    <p>
      <b>Data de nascimento:</b>
      <%= @voluntario.data_nascimento %>
    </p>

    <p>
      <b>Prontuário:</b>
      <%= @voluntario.prontuario %>
    </p>

    <p>
      <b>Sexo:</b>
      <%= @voluntario.sexo_str %>
    </p>

    <p>
      <b>Estado civil:</b>
      <%= @voluntario.estado_civil_str %>
    </p>

    <p>
      <b>Profissão:</b>
      <%= @voluntario.profissao %>
    </p>

    <p>
      <b>Email:</b>
      <%= @voluntario.email %>
    </p>

    <p>
      <b>Nacionalidade:</b>
      <%= @voluntario.nacionalidade_str %>
    </p>

    <p>
      <b>Telefone:</b>
      <%= @voluntario.telefone %>
    </p>

    <p>
      <b>Celular:</b>
      <%= @voluntario.celular %>
    </p>

    <p>
      <b>Centro:</b>
      <%= @voluntario.centro.nome %>
    </p>

    <p>
      <b>Naturalidade:</b>
      <%= @voluntario.uf.nome %>
    </p>

    <p>
      <b>Endereco:</b>
      <% endereco = @voluntario.endereco %>
      <%= endereco.logradouro %>
      <%= endereco.complemento %>
      <%= endereco.bairro %>,
      <%= endereco.municipio ? endereco.municipio.nome : '' %>
    </p>
  </div>
</div>


<ul class="nav nav-tabs" style="margin: 30px 0px 15px 0px;">
  <li class="active"><a href="#agenda" data-toggle="tab">Agenda</a></li>
  <li class=""><a href="#criterio" data-toggle="tab">Critérios</a></li>
  <li class=""><a href="#laudo" data-toggle="tab">Laudos</a></li>
  <li class=""><a href="#eventos_adversos" data-toggle="tab">Eventos Adversos</a></li>
  <li class=""><a href="#gravidez" data-toggle="tab">Gravidez</a></li>
  <li class=""><a href="#superdose" data-toggle="tab">Superdoses</a></li>
  <li class=""><a href="#eventos_adversos_graves" data-toggle="tab">Eventos Adversos Graves</a></li>
  <li class=""><a href="#avaliacoes_clinicas" data-toggle="tab">Avaliações Clínicas</a></li>
</ul>

<div id="myTabContent" class="tab-content">

  <div class="tab-pane fade active in" id="agenda">
    <%= render :partial => "tabela_agenda" %>
  </div>

  <div class="tab-pane fade" id="criterio">
    <%= render :partial => "tabela_criterios" %>
  </div>


  <div class="tab-pane fade" id="laudo">
    <%= render :partial => "tabela_laudos" %>
  </div>

  <div class="tab-pane fade" id="eventos_adversos">
    <%= render :partial => "tabela_eventos_adversos" %>
  </div>

  <div class="tab-pane fade" id="gravidez">
    <%= render :partial => "tabela_gravidezes" %>
  </div>

  <div class="tab-pane fade" id="superdose">
    <%= render :partial => "tabela_superdoses" %>
  </div>

  <div class="tab-pane fade" id="eventos_adversos_graves">
    <%= render :partial => "tabela_eventos_adversos_graves" %>
  </div>

  <div class="tab-pane fade" id="avaliacoes_clinicas">
    <%= render :partial => "tabela_avaliacoes_clinicas" %>
  </div>

</div>

<%= link_to 'Voltar', voluntarios_path, :class => 'btn btn-danger' %>

<script type="text/javascript">
  $(document).ready(function () {
    $(".toggle").each(function () {
      $('#' + $(this).attr('data-target')).hide();
    });

    $(".toggle").click(function () {
      var _el = $('#' + $(this).attr('data-target'));
      if (_el.is(':visible')) {
        $(this).find(".plus_minus").html("[+]")
      } else {
        $(this).find(".plus_minus").html("[-]")
      }
      _el.toggle(500);
    });
  });

</script>
