<h1>Registrar assinatura do TCLE</h1>

  <% if @laudo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@laudo.errors.count, "erro impediu") %> este voluntário de ser salvo:</h2>

      <ul>
      <% @laudo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= render 'partials/escolher_voluntario', :usuario => false %>

<% unless session[:voluntario].blank? %>
  <%= form_for @laudo, :url => selecao_tcles_path, :html => { :multipart => true } do |f| %>
    <div class='control-group'>
      <%= render 'partials/upload', :f => f, :imagem => :imagem, :texto => 'Anexar imagem do TCLE assinado', :texto_data => 'Data da assinatura' %>
      
      <%= hidden_field_tag 'laudo[visita_id]', Visita.find_by_voluntario_id_and_numero(session[:voluntario], 1).id %>
      <%= hidden_field_tag 'laudo[tipo]', Laudo::TIPO_TCLE %>
    </div>
    
    <div class='form-actions'>
      <%= f.submit nil, :class => 'btn btn-success' %>
      <%= link_to 'Voltar', selecao_menu_path, :class => 'btn btn-danger' %>
    </div>
  <% end %>
<% end %>
