<p>
  <b>Adução dos dedos - interósseos - ulnar:</b>
  <%= complemento.aducao_interosseos_ulnar %>
</p>
<p>
  <b>Abdução dos dedos - interósseos - ulnar:</b>
  <%= complemento.abducao_interosseos_ulnar %>
</p>
<p>
  <b>Flexão da mão sobre o antebraço - flexor ulnar do carpo - ulnar:</b>
  <%= complemento.flexor_carpo_ulnar %>
</p>
<p>
  <b>Oposição do polegar - opositor do polegar - mediano:</b>
  <%= complemento.opositor_polegar_mediano %>
</p>
<p>
  <b>Abdução do polegar - abdutor do polegar brevis - mediano:</b>
  <%= complemento.abdutor_polegar_mediano %>
</p>
<p>
  <b>Flexão do polegar - flexor do polegar - mediano:</b>
  <%= complemento.flexor_polegar_mediano %>
</p>
<p>
  <b>Flexão dos dedos sobre a mão - flexor digital profundo - mediano:</b>
  <%= complemento.flexor_digital_mediano %>
</p>
<p>
  <b>Pronação da mão - pronador - mediano:</b>
  <%= complemento.pronador_mediano %>
</p>
<p>
  <b>Extensão do polegar - extensor do polegar brevis - interósseo posterior:</b>
  <%= complemento.extensor_polegar_interosseo_posterior %>
</p>
<p>
  <b>Extensão dos dedos sobre o antebraço - extensor digital - interósseo posterior:</b>
  <%= complemento.extensor_digital_interosseo_posterior %>
</p>
<p>
  <b>Supinação da mão - supinador - radial:</b>
  <%= complemento.supinador_radial %>
</p>
<p>
  <b>Extensão do antebraço - tríceps - radial:</b>
  <%= complemento.triceps_radial %>
</p>
<p>
  <b>Abdução do braço - deltóide - axilar:</b>
  <%= complemento.deltoide_axilar %>
</p>
<p>
  <b>Flexão do braço - bíceps - musculocutâneo:</b>
  <%= complemento.biceps_musculocutaneo %>
</p>
<p>
  <b>Adução do braço - grande dorsal - tóraco dorsal:</b>
  <%= complemento.grande_dorsal_toraco_dorsal %>
</p>
<p>
  <b>Dorsiflexão do hálux - extensor longo do hálux - fibular profundo:</b>
  <%= complemento.extensor_fibular_profundo %>
</p>
<p>
  <b>Eversão do pé - fibular longo e brevis - fibular superficial:</b>
  <%= complemento.longo_fibular_superficial %>
</p>
<p>
  <b>Dorsiflexão do pé - tibial anterior - fibular profundo:</b>
  <%= complemento.tibial_fibular_profundo %>
</p>
<p>
  <b>Inversão do pé - tibial posterior - tibial:</b>
  <%= complemento.posterior_tibial %>
</p>
<p>
  <b>Flexão dos dedos - flexor digital longo - tibial:</b>
  <%= complemento.flexor_digital_tibial %>
</p>
<p>
  <b>Extensão do pé - gastrocnêmio - tibial:</b>
  <%= complemento.gastrocnemio_tibial %>
</p>
<p>
  <b>Flexão da perna sobre a coxa - bíceps da coxa - ciático:</b>
  <%= complemento.biceps_coxa_ciatico %>
</p>
<p>
  <b>Extensão da perna - quadríceps - femoral:</b>
  <%= complemento.quadriceps_femoral %>
</p>
<p>
  <b>Flexão da coxa sobre o quadril - iliopsoas - interósseo posterior:</b>
  <%= complemento.iliopsoas_interosseo_posterior %>
</p>
<p>
  <b>Adução da perna - adutores - femoral:</b>
  <%= complemento.adutores_femoral %>
</p>
<p>
  <b>Abdução da perna - glúteo médio e mínimo - obturador:</b>
  <%= complemento.gluteos_obturador %>
</p>
<p>
  <b>Extensão do antebraço - tríceps - glúteo superior:</b> <!-- verificar -->
  <%= complemento.triceps_gluteo_superior %>
</p>