<% content_for(:head) do %>
  <%= javascript_include_tag 'jquery.meio.mask', 'mascaras' %>
<% end %>

<%= form_for(@usuario) do |f| %>
  <% if @usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usuario.errors.count, "erro impediu") %> este profissional de ser salvo:</h2>

      <ul>
      <% @usuario.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>

    <h2>Dados Pessoais</h2>

    <div class="row">
      <div class="span4">

        <div class="control-group">
          <%= f.label :nome, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :nome %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :email, :class => 'control-label' %>
          <div class="controls">
            <%= f.email_field :email %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :celular, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :celular, :class => '_celular' %>
          </div>
        </div>

      </div><!--end span4-->

    <!-- <div class="row"> -->
      <div class="span4">

        <!-- <div class="control-group">
          <%#= f.label :password, :class => 'control-label' %>
          <div class="controls">
            <%#= f.password_field :password %>
          </div>
        </div>

        <div class="control-group">
          <%#= f.label :password_confirmation, :class => 'control-label' %>
          <div class="controls">
            <%#= f.password_field :password_confirmation %>
          </div>
        </div> -->

        <div class="control-group">
          <%= f.label :profissao_id, :class => 'control-label' %>
          <div class="controls">
            <%= f.select :profissao_id, options_from_collection_for_select(Profissao.all, 'id', 'nome') %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :registro, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :registro %>
          </div>
        </div>

      </div><!--end span4-->

    <!-- <div class="row"> -->
      <div class="span4">

        <div class="control-group">
          <%= f.label :centro_id, :class => 'control-label' %>
          <div class="controls">
            <%= f.select :centro_id, options_from_collection_for_select(Centro.all, 'id', 'nome') %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :cargo_id, :class => 'control-label' %>
          <div class="controls">
            <%= f.select :cargo_id, options_from_collection_for_select(Cargo.all, 'id', 'nome') %>
          </div>
        </div>

      </div><!--end span4-->
    </div><!--end row-->
  </fieldset>
  
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-success' %>
    <%= link_to 'Voltar', voltar, :class => 'btn btn-danger' %>
  </div>
<% end %>
