<h1>Teste de gravidez</h1>

<% if @laudo.errors.any? %>
  <div class="alert alert-dismissable alert-danger">
    <strong><%= pluralize(@laudo.errors.count, "erro impediu") %> o Teste de gravidez de ser salvo:</strong>
    <ul>
    <% @laudo.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= render 'partials/escolher_voluntario', :usuario => false %>

<% unless session[:voluntario].blank? %>
  <%= form_for @laudo, :url => encerramento_salvar_teste_gravidez_path, :html => { :multipart => true } do |f| %>
    <div class='control-group'>
      <%= render 'partials/upload', :f => f, :imagem => :imagem, :texto => 'Anexar imagem do laudo do teste de gravidez', :texto_data => 'Data do exame', :tipo => Laudo::TIPO_GRAVIDEZ %>
      
      <%= hidden_field_tag 'laudo[visita_id]', Visita.find_by_voluntario_id_and_numero(session[:voluntario], 8).id %>
      <%= hidden_field_tag 'laudo[tipo]', Laudo::TIPO_GRAVIDEZ %>
    </div>
    
    <div class='form-actions'>
      <%= f.submit nil, :class => 'btn btn-success' %>
      <%= link_to 'Voltar', encerramento_exames_path, :class => 'btn btn-danger' %>
    </div>
  <% end %>
<% end %>

<script type="text/javascript">
$(document).ready(function() {
   $("#new_laudo").ketchup();
});
</script>