<h1>Exame físico</h1>

<%= render 'partials/avaliacao_clinica/form_exame_fisico', :url => alocacao_exame_fisico_path %>

<ul class='unstyled horizontal-list'>
  <li><%= link_to 'Exame da força', alocacao_exame_forca_path %></li>
  <li><%= link_to 'Reflexos', alocacao_reflexos_path %></li>
  <li><%= link_to 'Esfíncteres', alocacao_esfincteres_path %></li>
  <li><%= link_to 'Coordenação', alocacao_coordenacao_path %></li>
  <li><%= link_to 'Tônus muscular', alocacao_tonus_muscular_path %></li>
  <li><%= link_to 'Nervos periféricos', alocacao_nervos_perifericos_path %></li>
  <div class="clear"></div>
</ul>

<%= link_to 'Voltar', alocacao_new_avaliacao_clinica_path, :class => 'btn' %>