<div class="page-header">
  <h1>Alocação</h1>
</div>

<div class="bs-example">
  <p>
    <%= link_to 'Analisar prontuários', analisar_prontuarios_path, :class => "btn btn-primary btn-lg" %>
  </p>
</div>

<div class="bs-example">
  <p style="margin-left: 50px">
    <%= link_to 'Verificar neurofisiologia', show_neurofisiologia_path, :class => "btn btn-info" %>
    <%= link_to 'Verificar questionários', show_questionarios_path, :class => "btn btn-info" %>
    <%= link_to 'Verificar exames', show_exames_path, :class => "btn btn-info" %>
  </p>
</div>

<div class="bs-example">
  <p>
    <%= link_to 'Incluir voluntário', incluir_path, :class => "btn btn-primary btn-lg" %>
  </p>
</div>

<div class="bs-example">
  <p>
    <%= link_to 'Excluir voluntário', excluir_path, :class => "btn btn-primary btn-lg" %>
  </p>
</div>

<div class="bs-example">
  <p>
    <%= link_to 'Randomizar voluntários', randomizar_path, :class => "btn btn-primary btn-lg" %>
  </p>
</div>

<div class="bs-example">
  <p style="margin-left: 50px">
    <%= link_to 'Critérios I/E da randomização', alocacao_criterios_path, :class => "btn btn-info" %>
    <%= link_to 'Avaliação clínica de randomização', alocacao_new_avaliacao_clinica_path, :class => "btn btn-info" %>
    <%= link_to 'Segregar grupos', alocacao_grupos_path, :class => "btn btn-info" %>
  </p>
</div>

<div class="bs-example">
  <p>
    <%= link_to 'Dispensar medicamentos', alocacao_dispensacao_path, :class => "btn btn-primary btn-lg" %>
  </p>
</div>
