<div class="page-header">
  <h1>Execução</h1>
</div>


<div class="bs-example">
  <p>
    <%= link_to 'Avaliação clínica de execução', execucao_new_avaliacao_clinica_path, :class => "btn btn-primary btn-lg" %>
  </p>
</div>

<div class="bs-example">
  <p>
    <%= link_to 'EVA de execução', execucao_eva_path, :class => "btn btn-primary btn-lg" %>
  </p>
</div>

<div class="bs-example">
  <p>
    <%= link_to 'Exames complementares de execução', execucao_exames_path, :class => "btn btn-primary btn-lg" %>
  </p>
</div>

<div class="bs-example">
  <p>
    <%= link_to 'Avaliar adesão', execucao_adesao_path, :class => "btn btn-primary btn-lg" %>
  </p>
</div>

<div class="bs-example">
  <p>
    <%= link_to 'Dispensar medicamentos', execucao_dispensacao_path, :class => "btn btn-primary btn-lg" %>
  </p>
</div>
