<h1>Execução</h1>

<ul class="unstyled list">
  <li><%= link_to 'Avaliação clínica de execução', execucao_new_avaliacao_clinica_path, :class => "btn" %></li>
  <li><%= link_to 'EVA de execução', execucao_eva_path, :class => "btn" %></li>
  <li><%= link_to 'Exames complementares de execução', execucao_exames_path, :class => "btn" %></li>
  <li><%= link_to 'Avaliar adesão', execucao_adesao_path, :class => "btn" %></li>
  <li><%= link_to 'Dispensar medicamentos', execucao_dispensacao_path, :class => "btn" %></li>
</ul>