<div class="div_icones">
	<h3>Ações</h3>
	<ul class="icones_principal">
		<li class="item_icone">
			<%= link_to pre_selecao_path do %>
			<img src="images/icons/1390411998_select_ad-x.png" width="95" height="76" alt="Pré-Seleção"/>
			<br/>
			Pré-Seleção
			<% end %>
		</li>
<!--		<li class="item_icone">
			<%= link_to agenda_menu_path do %>
			<img src="images/icons/1390412093_x-office-calendar.png" width="64" height="64" alt="Agendas">
			<br/>
			Agendas
			<% end %>
		</li>
-->
		<li class="item_icone">
			<%= link_to selecao_menu_path do %>
			<img src="images/icons/1390412144_button_ok.png" width="64" height="64" alt="1390412144 Button Ok">
			<br/>
			Seleção
			<% end %>
		</li>
		<li class="item_icone">
			<%= link_to eventos_adversos_menu_path do %>
			<img src="images/icons/1390412219_MapMarker_Flag_Left_Chartreuse.png" width="64" height="64" alt="Eventos Adv.">
			<br/>
			Eventos Adv.
			<% end %>
		</li>
		<li class="item_icone">
			<%= link_to alocacao_path do %>
			<img src="images/icons/1390412029_people-b.png" width="64" height="64" alt="Alocação">
			<br/>
			Alocação
			<% end %>
		</li>
		<li class="item_icone">
			<%= link_to execucao_path do %>
			<img src="images/icons/1390412462_running_process.png" width="64" height="64" alt="Execução">
			<br/>
			Execução
			<% end %>
		</li>
		<li class="item_icone">
			<%= link_to encerramento_path do %>
			<img src="images/icons/1390412411_finish_flag.png" width="64" height="64" alt="Encerramento">
			<br/>
			Encerramento
			<% end %>
		</li>
	</ul>
</div>

<div class="div_icones">
	<h3>Relatórios</h3>
	<ul class="icones_principal">
		<li class="item_icone">
			<%= link_to '#' do %>
			<img src="images/icons/1390419284_xls.png" width="64" height="64">
			<br/>
			Listagem de vonluntários (Excel)
			<% end %>
		</li>
		<li class="item_icone">
			<%= link_to '#' do %>
			<img src="images/icons/pdf_icon.png" width="64" height="64">
			<br/>
			Atendimentos por voluntário
			<% end %>
		</li>
		<li class="item_icone">
			<%= link_to '#' do %>
			<img src="images/icons/1390419600_distributor-report.png" width="64" height="64">
			<br/>
			Ficha completa do paciente
			<% end %>
		</li>
	</ul>
</div>

<div class="div_icones">
	<h3>Estatísticas</h3>
	<ul class="icones_principal">
		<li class="item_icone">
			<%= link_to '#' do %>
			<img src="images/icons/1390419355_Stats.png" width="64" height="64">
			<br/>
			Voluntários por situação
			<% end %>
		</li>
		<li class="item_icone">
			<%= link_to '#' do %>
			<img src="images/icons/1390419335_chart.png" width="64" height="64">
			<br/>
			Total de Voluntários Finalizados
			<% end %>
		</li>
	</ul>
</div>

<div class="div_icones">
	<h3>Sobre</h3>
	<p class="desc_princ">Ensaio clínico exploratório aberto randomizado multicêntrico para avaliar eficácia e segurança de esquemas terapêuticos para tratamento de dor neuropática em pacientes com hanseníase.</p> 
	<p class="desc_princ">Unidade de Pesquisa Clínica UFF - Neuro UPC</p>
</div>