<div class="breadcrumb">
	<ul class="breadcrumb">
		<li>
			<span class="glyphicon glyphicon-home"></span>
			<%= link_to 'Principal', root_path %><span class="divider"></span>
		</li>
		<li>
			<%= link_to 'Seleção', selecao_menu_path %><span class="divider"></span>
		</li>
		<li class="active">Seleção</li>
	</ul>
</div>


<div class="page-header">
	<h1>Seleção</h1>
</div>

<div class="div_icones_interno">
	<ul class="icones_principal">
		<li class="item_icone">
			<%= link_to 'Registrar assinatura do TCLE', selecao_new_tcle_path, :class => "btn btn-primary btn-lg" %>
		</li>
		<li class="item_icone">
			<%= link_to 'Aplicar critérios I/E de seleção', selecao_new_criterio_path, :class => "btn btn-primary btn-lg" %>
		</li>
	</ul>
</div>

<div class="div_icones_interno">
	<ul class="icones_principal">
		<li class="item_icone">
			<%= link_to 'Avaliação clínica de seleção', selecao_new_avaliacao_clinica_path, :class => "btn btn-primary btn-lg" %>
		</li>
		<li class="item_icone">
			<%= link_to 'Registrar biópsia', selecao_new_biopsia_path, :class => "btn btn-primary btn-lg" %>
		</li>
	</ul>
</div>


<div class="div_icones_interno">
	<ul class="icones_principal">
		<li class="item_icone">
			<div class="btn-group">
				<button type="button" class="btn btn-success btn-lg"><%= link_to 'Neurofisiologia', selecao_neurofisiologia_path, :style => "color: #FFFFFF;" %></button>
				<button type="button" class="btn btn-success btn-lg dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
				<ul class="dropdown-menu">
					<li><%= link_to 'ENMG', selecao_enmg_path %></li>
					<li><%= link_to 'CHEPS', selecao_cheps_path %></li>
					<li><%= link_to 'QST', selecao_qst_path %></li>
				</ul>
			</div>
		</li>
		<li class="item_icone">
			<div class="btn-group">
				<button type="button" class="btn btn-warning btn-lg"><%= link_to 'Aplicar questionários', selecao_questionarios_path,  :style => "color: #FFFFFF;" %></button>
				<button type="button" class="btn btn-warning btn-lg dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
				<ul class="dropdown-menu">
					<li><%= link_to 'EVA', selecao_eva_path %></li>
					<li> <%= link_to 'DN4', selecao_dn4_path %></li>
					<li><%= link_to 'SF36', selecao_sf36_path %></li>
					<li><%= link_to 'LANSS', selecao_lanss_path %></li>
					<li><%= link_to 'Mini mental', selecao_mini_mental_path %></li>
				</ul>
			</div>
		</li>
		<li class="item_icone">
			<div class="btn-group">
				<button type="button" class="btn btn-danger btn-lg"><%= link_to 'Exames complementares', selecao_exames_path, :style => "color: #FFFFFF;" %></button>
				<button type="button" class="btn btn-danger btn-lg dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
				<ul class="dropdown-menu">
					<li><%= link_to 'Teste de gravidez', selecao_teste_gravidez_path %></li>
					<li> <%= link_to 'Hemograma completo', selecao_hemograma_path %> </li>
					<li> <%= link_to 'Função renal', selecao_func_renal_path %></li>
					<li><%= link_to 'Função hepática', selecao_func_hepatica_path %></li>
					<li><%= link_to 'Urinocultura', selecao_urinocultura_path %></li>
					<li><%= link_to 'Rx tórax', selecao_rx_torax_path %></li>
				</ul>
			</div>
		</li>
	</ul>
</div>




