<div class="breadcrumb">
  <ul class="breadcrumb">
    <li>
      <span class="glyphicon glyphicon-home"></span>
      <%= link_to 'Principal', root_path %><span class="divider"></span>
    </li>
    <li>
      <%= link_to 'Execução', execucao_path %><span class="divider"></span>
    </li>
    <li class="active">EVA de execução</li>
  </ul>
</div>

<h1>EVA de execução</h1>

<%= render 'partials/escolher_voluntario_visita', :usuario => false %>

<% if !session[:voluntario].blank? && (session[:numero] && (session[:numero].to_i > 1 && session[:numero].to_i < 8)) %>
  <%= form_for @laudo, :url => execucao_salvar_eva_path, :html => { :multipart => true } do |f| %>
    <div class='control-group'>
      <%= render 'partials/upload', :f => f, :imagem => :imagem, :texto => 'Anexar imagem do laudo da EVA',
        :texto_data => 'Data do questionário' %>
    
      <%= f.label :escore, 'Nota de 0 a 10 na Escala Visual Analógica', :class => 'control-label' %>
      <%= f.text_field :escore %>
      
      <%= f.label :usuario_id, nil, :class => 'control-label' %>
      <%= f.select :usuario_id, options_from_collection_for_select(Usuario.all, 'id', 'nome') %>
      
      <%= hidden_field_tag 'laudo[visita_id]', Visita.find_by_voluntario_id_and_numero(session[:voluntario], session[:numero]).id %>
      <%= hidden_field_tag 'laudo[tipo]', Laudo::TIPO_EVA %>
    </div>
    
    <div class='form-actions'>
      <%= f.submit nil, :class => 'btn btn-success' %>
      <%= link_to 'Voltar', execucao_path, :class => 'btn btn-danger' %>
    </div>
  <% end %>
<% end %>
