<% if current_usuario %>
<div class     = "navbar navbar-default navbar-fixed-top">
	<div class   = "container">
		<div class = "navbar-header">
			<%= link_to root_path, :class=>"navbar-brand" do %>
					<%= image_tag 'logo_it4research_transp_branco.png', :style=>"width: 200px" %>
			<% end %>
		</div>
		<div class="navbar-collapse collapse" id="navbar-main">
			<ul class="nav navbar-nav">
				<li><%= link_to 'Principal', root_path %></li>
				<li class="divider-vertical"></li>
				<li><%= link_to 'Pré-Seleção', pre_selecao_path %></li>
				<li class="divider-vertical"></li>
<!--				<li><%= link_to 'Agendas', agenda_menu_path %></li>         -->
				<li class="divider-vertical"></li>
				<li><%= link_to 'Seleção', selecao_menu_path %></li>
				<li class="divider-vertical"></li>
				<li><%= link_to 'Eventos adv.', eventos_adversos_menu_path %></li>
				<li class="divider-vertical"></li>
				<li><%= link_to 'Alocação', alocacao_path %></li>
				<li class="divider-vertical"></li>
				<li><%= link_to 'Execução', execucao_path %></li>
				<li class="divider-vertical"></li>
				<li><%= link_to 'Encerramento', encerramento_path %></li>
			</ul>
			<ul class="nav navbar-nav" style="float:right">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Minha Conta<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><%= link_to 'Alterar dados', edit_usuario_path(current_usuario) %></li>
						<li><%= link_to 'Alterar senha', edit_usuario_registration_path(current_usuario) %></li>
						<!-- <li><%#= link_to 'Sair', destroy_usuario_session_path, :method => :delete %></li> -->
						<li><%= link_to 'Sair', destroy_usuario_session_path %></li>
					</ul>
				</li>
			</ul>

		</div>
	</div>
</div>





<% end %>
