
<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>it4Research</title>
	<%= stylesheet_link_tag 'bootstrap', 'style', 'jquery-ui-1.8.21.custom', 'token-input', 'token-input-facebook', 'jquery.ketchup' %>
	<%= javascript_include_tag :defaults, 'jquery-ui-1.8.21.custom.min', 'jquery.ui.datepicker-pt-BR', 'bootstrap', 'jquery.ketchup', 'jquery.ketchup.validations', 'jquery.ketchup.helpers', 'bootstrap-tooltip.js', 'bootstrap-popover.js' %>
	<%= csrf_meta_tag %>
	<%= yield :head %>
</head>
<body>
	<%= render 'layouts/menu' %>
	
	<% flash.each do |name, msg| %>
	<% unless msg.empty? %>
	<%= content_tag :div, :id => "flash_#{name}", :class => "alert alert-#{name}" do %>
	<%= link_to 'x', '#', :class => 'close', 'data-dismiss' => 'alert' %>
	<%= msg %>
	<% end %>
	<% end %>
	<% end %>

	<div class="container">
		<div class="container">
			<%= yield %>
		</div>
	</div>

	<div class="rodape"> 
		<%= image_tag 'logo_uff.png', "height"=>"80", "alt"=>"Logo UFF", "style"=>"margin-right: 60px" %>
		<%= image_tag 'logo_it4research.png', "width"=>"421", "alt"=>"Logo It4research" %>
	</div>

	<script>
	<%= yield :js %>
	</script>

</body>
</html>